actividades/a10/serviciovod.dtd

<!ELEMENT catalogovod (cuenta,contenido)>
<!ELEMENT cuenta (perfiles)>
<!ELEMENT perfiles (perfil)*>
<!ELEMENT perfil EMPTY>
<!ATTLIST perfil 
nombre CDATA #REQUIRED
idioma CDATA #REQUIRED
>
<!ATTLIST cuenta correo CDATA #REQUIRED>

<!ELEMENT contenido (peliculas,programas)>
<!ELEMENT peliculas (genero)+>
<!ATTLIST genero nombre CDATA #REQUIRED>
<!ELEMENT genero (titulo)*>
<!ELEMENT titulo (#PCDATA)>
<!ATTLIST titulo duracion CDATA #REQUIRED>

<!ELEMENT programas (genero)+>
